<hr>
<div class="card text-white bg-primary mb-6" style="max-width:75%;">
    <div class="card-header">HR System</div>
    <div class="card-body">
        <p class="card-text">
            Web application to manage departments and employees
            using technologies and dispaly monthly reports about hire employees count using chart.
            <p>
            Back End : asp.net core 3.1</p> 
          <p> Front End : Angluar 13</p> 
         
      <h5 class="card-title">Ahmed Shalaby</h5>
     <p class="card-text"> Email: dev.ahmedshalaby@outlook.com </p>
     <p class="card-text"> Phone: 0563004879 </p>
    </div>
  </div>
